<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>聊天室測試版</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div class="container">

    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">聊天室測試版</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/add">新增</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">推播 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/push/all">全部房間</a></li>
                            <li><a href="/push/id">單一房間</a></li>
                            <li><a href="/push/type">房間Type</a></li>
                            <li><a href="/push/tag">房間Tag</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>

    {{ if eq .push "tag" }}
        <select class="browser-default custom-select custom-select-lg mb-3" id="key" name="key">
            <option selected>選擇要推送的房間標籤</option>
            {{ range $i, $v := .tag }}
                <option value="{{ $v }}">{{ $v }}</option>
            {{ end }}
        </select>
    {{ else if eq .push "id" }}
        <select class="browser-default custom-select custom-select-lg mb-3" id="key" name="key">
            <option selected>選擇要推送的房間號碼</option>
            {{ range $i, $v := .id }}
                <option value="{{ $v }}">{{ $v }}</option>
            {{ end }}
        </select>
    {{ else if eq .push "type" }}
        <select class="browser-default custom-select custom-select-lg mb-3" id="key" name="key">
            <option selected>選擇要推送的房間分類</option>
            {{ range $i, $v := .type }}
                <option value="{{ $v }}">{{ $v }}</option>
            {{ end }}
        </select>
    {{ end }}

    <div class="panel-footer">
        <div class="input-group">
            <input id="btn-input" type="text" class="form-control input-sm"
                   placeholder="Type your message here..."/>
            <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat" onclick="send()">
                                Send</button>
                        </span>
        </div>
    </div>

</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script>
    window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')

    function send() {
        var text = document.getElementById("btn-input").value
        var key = ""
        var k = document.getElementById("key")
        if (k != null) {
            key = k.value
        }

        $.post('http://'+ {{ .host }} +'/pushAll', {text: text, key: key , push:"{{ .push }}"}, function (data) {
        }).success(function () { alert("發送成功") })
            .error(function() { alert("發送失敗") });
    }

</script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>